<!--model IEnumerable<PI_ES2_Grupo8.Models.HorarioTrabalho>-->
@model HorarioTrabalhoListViewModel

@{
    ViewData["Title"] = "Horarios de Trabalho";
}

<h2>Horarios de Trabalho</h2>
<div>
    <div>
        <input asp-for="CurrentName" class="form-label" />

        <input type="submit" value="Pesquisar" class="btn btn-default" />

    </div>


    <div style=" width:1000px; margin-top:10px;">

        <div style=" float:left">
            @if (User.IsInRole("Administrator"))
            {
                <a asp-action="Create" class="btn btn-default">Gerar Novo</a>
            }
        </div>
        

        <div style=" float:right">
            <a asp-action="VisualizarTroca" asp-route-id="HorarioTrabalhoId" class="btn btn-default">Ver a troca</a>
        </div>
    </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Hora Inicio
            </th>
            <th>
                Hora Fim
            </th>
            <th>
                Nome
            </th>
            <th>
                Trocou
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Horarios)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enfermeiros.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Troca)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HorarioTrabalhoId" class="btn btn-default">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.HorarioTrabalhoId" class="btn btn-default">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.HorarioTrabalhoId" class="btn btn-default">Eliminar</a> |

                </td>
            </tr>

        }
    </tbody>
</table>
<div page-model="Model.Pagination"> </div>
