<!--model HorarioTrabalho-->
@{
    ViewData["Title"] = "VisualizarTroca";
}
<h2>Visualização da Troca</h2>
@if (ViewBag.Message == "Não existe trocas efetuadas")
{
    <div>
        <div class="text-danger"> @ViewBag.Message</div>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Trocas Id
                </th>
                <th>
                    Nome
                </th>

                <th>
                    Horario Novo
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["VisualizarTroca"] as IList<Troca>)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.TrocaId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EnfermeiroRequerente.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.HorarioTrabalhoNovo.HoraInicio)
                    </td>
                </tr>


                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.TrocaId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EnfermeiroEscolhido.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.HorarioTrabalhoAntigo.HoraInicio)
                    </td>

                </tr>


            }


        </tbody>
    </table>
}
<!--<div page-model="Model.Pagination"> </div>-->
