@model PI_ES2_Grupo8.Models.Receita

@{
    ViewData["Title"] = "Detalhes";
}



<div>
    <h4>Detalhes Receita @ViewBag.Message</h4>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Médico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.medico.Nome)
        </dd>
        <dt>
           Utente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.utente.Nome)
        </dd>
        <dt>
            Data
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <!-- <dt>
              @Html.DisplayNameFor(model => model.Nreceita)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Nreceita)
          </dd>-->
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
                Tratamento
            </th>
            <th>
                Data do Tratamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int i=1;}
        @foreach (var item in ViewData["ReceitaTratamentos"] as IList<ReceitarTratamento>)
        {
            <tr>
                <td>
                    @(i++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tratamento.TipodeTratamento)
                </td>
                <td>
                    <!--@Html.DisplayFor(modelItem => item.DataTratamento)-->
                </td>

            </tr>
        }
    </tbody>

</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReceitaId" class="btn btn-default" >Editar</a> |
    <a asp-action="Index" class="btn btn-default" >Voltar</a>
</div>
