@model IEnumerable<PI_ES2_Grupo8.Models.Receita>

@{
    ViewData["Title"] = "Lista Receitas";
}

<h2>Lista Receitas</h2>

<p>
    <a asp-action="Create">Criar novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReceitaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.utente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nreceita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceitaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.utente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nreceita)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReceitaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ReceitaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ReceitaId">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
