@model IEnumerable<PI_ES2_Grupo8.Models.Troca>

@{
    ViewData["Title"] = "Index";
}

<h2>Pedido de Troca</h2>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Justificação)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnfermeiroRequerente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioTrabalhoNovo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioTrabalhoAntigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprovar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Justificação)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnfermeiroRequerente.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioTrabalhoNovo.HorarioTrabalhoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioTrabalhoAntigo.HorarioTrabalhoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprovar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrocaId" class="btn btn-default">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TrocaId" class="btn btn-default">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TrocaId" class="btn btn-default">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
