@model PI_ES2_Grupo8.Models.Troca

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Troca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.justificacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.justificacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enfermeiros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enfermeiros.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gerarHorarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gerarHorarios.gerarHorariosId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrocaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
