@model IEnumerable<PI_ES2_Grupo8.Models.Tratamento>

@{
    ViewData["Title"] = "Lista Tratamentos";
}

<h2>Lista Tratamentos</h2>

<p>
    <a asp-action="Create">Criar Tratamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipodeTratamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipodeTratamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TratamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TratamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TratamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
