@model PI_ES2_Grupo8.Models.Utente

@{
    ViewData["Title"] = "Detalhes";
}


<div>
    @if (ViewBag.Message == "UtenteCriado")
    {
        <h4>Utente criado com sucesso. </h4>
    }
    else
    {
        <h4>Detalhes do utente  @Model.Nome</h4>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            <p>Nº Utente Saúde</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.N_Utente_Saude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Problemas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Problemas)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.Message == "UtenteCriado")
    {
        <a asp-action="Index" class="btn btn-default">Lista Utente</a>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model.UtenteId"><input type="button" value="Editar" class="btn btn-default" /></a>
        <a asp-action="Index" class="btn btn-default">Voltar </a>

    }
</div>
