@model UtentesListViewModel

@{
    ViewData["Title"] = "Lista Utente";
}
<h4>Lista Utente</h4>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<div class="container" style="width:auto;">
    
        
        <div class="panel-body" style="width: 350px; float:right;">
            <form asp-action="Index">
                <div class="form-group" style="width: 200px; height: 35px; overflow: hidden; display: inline-block; float:left">
                    <!--  <label asp-for="CurrentName" class="control-label">""</label>-->
                    <input asp-for="CurrentName" class="form-control"  placeholder="Nome"/>
                </div>
                <div class="form-group" style="float:right; width: 100px; height: 35px;">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
   
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               Nome
            </th>
            <th>
                Nº Utente Saúde
            </th>
            
            <th>
               Telefone
            </th>
            <th>
               email
            </th>
            <th>
                Problemas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Utentes)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_Utente_Saude)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problemas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UtenteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UtenteId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.UtenteId">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div page-model="@Model.Pagination"> </div>
