@model IEnumerable<PI_ES2_Grupo8.Models.Utente>

@{
    ViewData["Title"] = "Lista Utente";
}

<h4>Lista Utente</h4>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Problemas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problemas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UtenteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UtenteId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.UtenteId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
