@model PI_ES2_Grupo8.Models.Enfermeiros

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enfermeiros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Especializacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Especializacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EnfermeirosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
