@model IEnumerable<PI_ES2_Grupo8.Models.Enfermeiros>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especializacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioServicoDomicilio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especializacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioServicoDomicilio.HorarioServicoDomicilioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnfermeirosId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnfermeirosId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnfermeirosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
