<!-- model IEnumerable<PI_ES2_Grupo8.Models.Enfermeiros> -->
@model EnfermeirosListViewModel

@{
    ViewData["Title"] = "Lista dos Enfermeiros";
}

<h2>@ViewData["Title"]</h2>

<div>
    <div >
        
        <form asp-action="Index">
            <div class="form-group" >
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <!-- <label asp-for="Name" class="control-label"></label>           form-control -->
                                <input asp-for="CurrentName" class="form-label" />
                                <!--<div class="form-group"> -->
                                <input type="submit" value="Pesquisar" class="btn btn-default" />
                                <!-- </div> -->
                            </th>
                            <th>
                                <p>
                                    <a asp-action="Create" class="btn btn-default">Criar Novo</a>
                                </p>
                            <th>
                        <tr>
                    </thead>
                </table>
            </div>
            
        </form>
    </div>
</div>
   
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <!--
                <th>
                    Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Html.DisplayNameFor(model => model.Morada)
                </th>
                -->
        <th>
            Especialização
        </th>
        <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Enfermeiro)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <!--
                <td>
                    Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.Morada)
                </td>
                -->

                    <td>
                        @Html.DisplayFor(modelItem => item.Especialização.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EnfermeirosId" class="btn btn-default">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.EnfermeirosId" class="btn btn-default">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.EnfermeirosId" class="btn btn-default">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
        <div page-model="@Model.Pagination"> </div>
