@model ReceitasListViewModel

@{
    ViewData["Title"] = "Lista Receitas";
}

<h4>Lista Receitas</h4>
<!--<p><a asp-action="Create">Criar novo</a></p>-->
<div style="width:1100px">
    <div class="form-group" style="width:300px; float:left; margin-top:15px">
        <a asp-action="Create"><input type="button" value="Criar Novo" class="btn btn-default" /></a>
    </div>
    <!--<p><a asp-action="Create">Criar novo</a></p>-->
    <div style="width:700px; float:right">


        <div class="panel-body" style="width: 350px; float:right;">
            <form asp-action="Index">
                <div class="form-group" style="width: 200px; height: 35px; overflow: hidden; display: inline-block; float:left">
                    <!--  <label asp-for="CurrentName" class="control-label">""</label>-->
                    <input asp-for="CurrentName" class="form-control" placeholder="Nome" />
                </div>
                <div class="form-group" style="float:right; width: 100px; height: 35px;">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ReceitaId
            </th>
            <th>
                Médico
            </th>
            <th>
                Utente
            </th>
            <th>
                Data
            </th>
            <!--<th>Nreceita</th>-->

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Receitas)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceitaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.utente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <!-- <td> @Html.DisplayFor(modelItem => item.Nreceita)</td>-->
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReceitaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ReceitaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ReceitaId">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div page-model="@Model.Pagination"> </div>