@model PI_ES2_Grupo8.Models.Medico

@{
    ViewData["Title"] = "Detalhes";
}


<div>

    @if (ViewBag.Message == "MedicoCriado")
    {
        <h4>Médico/a criado com sucesso. </h4>
    }
    else
    {
        <h4>Detalhes Médico/a @Model.Nome</h4>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.Message == "MedicoCriado")
    {
        <a asp-action="Index" class="btn btn-default">Lista dos Médicos</a>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model.MedicoId" class="btn btn-default">Editar</a> 
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    }
</div>
