@model PI_ES2_Grupo8.Models.ReceitarTratamento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReceitarTratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceitarTratamentoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceitarTratamentoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.receita)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.receita.ReceitaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tratamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tratamento.TipodeTratamento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
