@model IEnumerable<PI_ES2_Grupo8.Models.ReceitarTratamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista ReceitarTratamento</h2>

<p>
    <a asp-action="Create">Receitar Tratamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.receita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tratamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.receita.ReceitaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tratamento.TratamentoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReceitarTratamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReceitarTratamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReceitarTratamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
